<% if not defined?(details)  %>
	<% details = 0 %>
<% end %>

<tr id="entry-<%= object.id %>">
	<td>
		<%= object.code %>
	</td>
	<td>
		<%= object.item.supplier_code %> <br />
		<%= object.item.name %> <br />
	</td>
	
	<td>
		<%= object.quantity_sent %>
		<hr />
		<%= link_to edit_delivery_delivery_entry_url(parent, object,:details => details) , 
			:class =>"edit_entry modal-toggler", :style => "cursor:pointer; text-decoration:none;" do %>
			<i class='icon-edit'></i>Edit
		<% end %>
		
	</td>
	
	<td>
		Terkirim: <b><%= object.quantity_confirmed %></b> 
		<hr />
		
		Retur:	<b><%= object.quantity_returned %></b><br />
		<hr />
		Hilang: 	<b><%= object.quantity_lost %></b>
		
		<hr />
		<%= link_to edit_post_delivery_delivery_entry_url(  object,:details => details), 
			:class =>"edit_entry modal-toggler", :style => "cursor:pointer; text-decoration:none;" do %>
			<i class='icon-edit'></i> Isi Hasil Pengiriman
		<% end %>
	</td>
	 
  

	<td>
		<%= link_to delivery_entry_url(object.id ), :class =>"delete_entry", :style => "cursor:pointer; text-decoration:none;" do %>
			<i class='icon-remove'></i>Delete
		<% end %>
	</td>
	
	 
	 
	
</tr>