<% if new_object.persisted? %>
	<% id = 'edit_object'%>
	<% rest_method_class = 'rest_put' %>
<% else %>
	<% id = 'new_object'%>
	<% rest_method_class = 'rest_post' %>
<% end %>

<%= simple_form_for( new_object, :url => url,
      :method => :post , 
      :html => {:class => "  prevent_double_submit ajax-form  #{rest_method_class} no_content_form",
        :id => "#{id}"}) do |f| %>
 
  <%= f.input :item_id, :label =>" Item", :hint => "Pilih item yang akan dipesan"   %>
 
		
		<%= f.input :quantity, :label =>"Jumlah", 
				:hint => "Berapa banyak yang akan dipesan?"   %> 
  

  <div class="form-actions">
	
		<% if new_object.persisted? %>
			<%= f.button :submit , :class => "btn btn-primary", :value=> "Update Purchase Order Entry " %>
		<% else %>
			<%= f.button :submit , :class => "btn btn-primary", :value=> "Create Purchase Order Entry "  %>
		<% end %>
		
  </div>
<% end %>


<script type="text/javascript">
$(document).ready(function() {
	
	 $("#purchase_order_entry_item_id").tokenInput('<%=	search_item_url %>', {
		prePopulate:   	[
				<% if not new_object.item_id.nil? %> 
				{id: <%= new_object.item_id %>, name: '<%= new_object.item.name %>'}
				<% end %>
			],
		zindex: 9999,
		propertyToSearch: "name",
		tokenLimit: 1
	});
});
</script>

 